<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

    <!--<link rel="stylesheet" href="css/style.css">-->
    <title>Login</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th colspan="3">Atividades do projeto</th>
    </tr>
    <tr>
        <th>#</th>
        <th colspan="2">Atividade</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td>
            <form action="/numbers" method="post" accept-charset="UTF-8">

                <input type="text" name="number" placeholder="number">
                <input type="text" name="description" placeholder="description">
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-default">Clear</button>
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
        </form>
        </td>
    </tr>
    <tr>
        <td>id</td>
        <td>Sumber</td>
        <td>Description</td>

    </tr>
    <tr>
        <!--<c:forEach var="t_value" items="${valueses}">-->
        <!--<td>${t_value.id}}</td>-->
        <!--<td>-->
        <!--${t_value.vale}}-->
        <!--</td>-->
        <!--<td>-->
        <!--${t_value.description}}-->
        <!--</td>-->
        <!--<td>-->
        <!--<a href="/updateNumber/${value.id}">-->
        <!--<button type="button" class="btn btn-warning">Edit</button>-->
        <!--</a>-->
        <!--<a href="/deleteNumber/${value.id}">-->
        <!--<button type="button" class="btn btn-danger">Delete</button>-->
        <!--</a>-->
        <!--</td>-->
        <!--</c:forEach>-->
    </tr>


    <br>


    <table>
        <th:block th:each="t_value : ${valueses}">
            <tr>
                <td th:text="${t_value.id}"></td>
                <td th:text="${t_value.tvalue}"></td>
                <td>


                    <form th:action="@{/updateNumber/}+${t_value.id}" method="post" accept-charset="UTF-8">

                        <input type="text" name="number" th:value="${t_value.tvalue}" placeholder="number">
                        <input type="text" name="description" placeholder="description">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success">Edit</button>
                            </div>
                        </div>
                    </form>

                    <form method="post" th:action="@{/deleteNumber/} + ${t_value.id}">

                        <button type="submit" class="btn btn-danger">Delete</button>

                    </form>
                </td>
                </td>
            </tr>

        </th:block>
    </table>


    <br>


    <form action="/numbersNew" method="post" accept-charset="UTF-8">
        <input type="text" name="oldNumber" placeholder="oldNumber">
        <input type="text" name="newNumber" placeholder="newNumber">
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-default">Clear</button>
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>
    </tr>
    </tbody>
</table>
</body>
</html>